body {
  background-color: #f9f9f9;
  color: #797979;
}

/* top-bar */
.top-bar {
  font-size: 0.8em;
}

.top-bar .container {
  padding-right: 5%;
  padding-left: 5%;
}

#promo-code {
  font-weight: 700;
  color: #2F5692;
}

.top-bar .row {
  margin: 0;
}

.top-bar .col-md-4 {
  padding: 0;
}

.top-bar p{
  margin: 5px 0;
}

/* navbar */
.navbar {
  margin-bottom: 0;
  background-color: #fff;
  border: solid 1px #F2EFEF;
  min-height: 80px;
}

.navbar .container {
  padding-right: 5%;
  padding-left: 5%;
  min-height: 80px;
}

#navigation{
  min-height: 80px;
}

.navbar-brand {
  font-size: 2.8em;
  font-weight: 500;
  margin-top: 13px;
}

.navbar-btn {
  margin-top: 20px;
}

.navbar-brand p {
  color: #D6AB9A;
}

.navbar-nav li a{
  font-size: 0.9em;
  top: 15px;
}

#search{
  height: 80px;
  border-left: solid 1px #f2efef;
  border-right: solid 1px #f2efef;
}

#search a{
  top: 10px;
  color: #D6AB9A;
}

#cart{
  top:0;
  /* text-align: center; */
  border-left: solid 1px #f2efef;
  border-right: solid 1px #f2efef;
  height: 80px;
}

/* navbar collapse when small */
@media (max-width: 1000px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

/* carousel */
.carousel {
  height: 460px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 460px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 460px;
}

.carousel-control.right, .carousel-control.left{
  background-image: none;
}

.carousel-control{
  width: 5%;
  color: #99A9C4;
}

.carousel-indicators li{
  border: solid 1px #315088;
  width: 20px;
  height: 20px;
}

.carousel-indicators .active{
  width: 20px;
  height: 20px;
  background-color: #315088;
}

.first-slide, .second-slide, .third-slide{
  object-fit: cover;
}

.carousel-caption{
  text-align: left;
  text-shadow: none;
  left: 9%;
  top: 9%;
}

.carousel-caption p:nth-child(1) {
  color: #315087;
  font-size: 3em;
  font-weight: 100;
  margin-bottom: 0;
}

.carousel-caption p:nth-child(2) {
  color: #315087;
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 0;
}

.carousel-caption p:nth-child(3) {
  color: #797979;
  font-size: 1em;
  font-weight: 200;
}

.btn-unique{
  color: #fff;
  background-color: #315087;
  border-color: #315087;
  padding: 15px 30px;
  border-radius: 40px;
}

/* weekly specials section */
.section-title{
  text-align: center;
  font-size: 36px;
  font-weight: 200;
  margin: 40px 0;
}

.weekly-special .container{
  padding-left: 5%;
  padding-right: 5%;
}

.weekly-special .thumbnail{
  border: none;
  border-radius: 0;
  padding: 10px;
}

.caption p:nth-child(1){
  color: #797979;
  font-weight: 200;
  font-size: 1em;
}

.caption p:nth-child(2){
  color: #315087;
  font-weight: 700;
  font-size: 1.1em;
}

.btn-product{
  font-size: 0.8em;
  color: #315087;
  background-color: rgba(0,0,0,0);
  border-color: #315087;
  padding: 10px 35px;
  border-radius: 40px;
}

/* bottom hero */
.rock-collection-hero{
  margin-top: 5px;
  width: 100%;
  height: 325px;
  background-image: url("../images/bottom-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.collection-caption{
  margin-top: 40px;
}

.collection-caption p:nth-child(1){
  color: #315087;
  font-size: 3.2em;
  font-weight: 500;
  margin-bottom: 0;
}

.collection-caption p:nth-child(2){
  color: #315087;
  font-size: 3.2em;
  font-weight: 200;
  margin-bottom: 0;
}

.collection-caption p:nth-child(3){
  margin-top: 10px;
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 0;
}

.collection-caption p:nth-child(4){
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 15px;
}

/* footer */
hr {
  border: none;
  height: 2px;
  background-color: #E0E0E0;
}

.links{
  margin-top: 15px;
  font-size: 0.8em;
}

.link-title{
  font-size: 1.4em;
  font-weight: 200;
}

.first-hr, .second-hr{
  margin-bottom: 10px;
}

.third-hr, .fourth-hr, .fifth-hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

.link-box{
  margin-bottom: 20px;
}

.social-btns{
  margin-top: 10px;
}

.social-btn{
  width: 35px;
  height: 35px;
  margin: 0 2px;
  border: solid 1px #797979;
  background-color: rgba(0,0,0,0);
  border-radius: 30px;
}

#email-input{
  width: 100%;
  height: 40px;
  border: solid 2px #e0e0e0;
  border-radius: 30px;
  padding-left: 20px;
  margin-top: 10px;
}

#submit-btn{
  width: 100%;
  height: 40px;
  color: #fff;
  border: solid 1px #797979;
  border-radius: 30px;
  background-color: #797979;
  margin-top: 10px;
}

input:focus{
  outline: none;
}

button:focus{
  outline: none;
}

input::placeholder{
  opacity: 0.7;
}

a{
  color: inherit;
  text-decoration: none !important;
}

.copyrights{
  width: 100%;
  min-height: 60px;
  margin-top: 20px;
  background: #e8e8e8;
  font-size: 0.7em;
  color: #000;
}

.copyrights .container{
  padding: 0 5%;
}

.copyrights p{
  margin: 0;
}

.copyrights p:first-child{
  margin-top: 15px;
}

.payment{
  margin-top: 5px;
}

.card{
  width: 45px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
